################################################################################
# Hugo

/public/
/resources/

/assets/jsconfig.json
/.hugo_build.lock

################################################################################
# Custom

/TODO.md
