@use "../abstracts" as *;

.card {
  display: flex;
  flex-direction: column;
  background-color: $color-background;
  border-radius: $border-radius-md;
  box-shadow: $shadow-sm;
  overflow: hidden;
  transition: transform $transition-fast, box-shadow $transition-fast;

  &:hover {
    transform: translateY(-2px);
    box-shadow: $shadow-md;
  }
}

.card__image {
  position: relative;
  padding-bottom: 56.25%;
  background-color: $color-background-alt;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__body {
  flex: 1;
  padding: $spacing-lg;
}

.card__title {
  margin-bottom: $spacing-sm;
  font-size: rem(20);
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-brand;
    }
  }
}

.card__text {
  margin-bottom: 0;
  font-size: $font-size-small;
  color: $color-text-secondary;
}

.card__footer {
  padding: $spacing-md $spacing-lg;
  border-top: 1px solid $color-border-light;
}
