@use "sass:math";
@use "../abstracts" as *;

.container {
  @include container;
}

.container--narrow {
  max-width: 760px;
}

.container--wide {
  max-width: 1400px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: initial;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: -$spacing-md;
  margin-right: -$spacing-md;
}

.col {
  padding-left: $spacing-md;
  padding-right: $spacing-md;
}

[class^="col-"] {
  flex: auto;
}

@for $i from 0 through 12 {
  .col-#{$i} {
    width: percentage(math.div($i, 12));
  }
  .push-#{$i} {
    margin-left: percentage(math.div($i, 12));
  }
  .pull-#{$i} {
    margin-right: percentage(math.div($i, 12));
  }
}

@include respond-to-max(lg) {
  @for $i from 0 through 12 {
    .col-d-#{$i} {
      width: percentage(math.div($i, 12));
    }
    .push-d-#{$i} {
      margin-left: percentage(math.div($i, 12));
    }
    .pull-d-#{$i} {
      margin-right: percentage(math.div($i, 12));
    }
  }
}

@include respond-to-max(md) {
  @for $i from 0 through 12 {
    .col-t-#{$i} {
      width: percentage(math.div($i, 12));
    }
    .push-t-#{$i} {
      margin-left: percentage(math.div($i, 12));
    }
    .pull-t-#{$i} {
      margin-right: percentage(math.div($i, 12));
    }
  }
}

@include respond-to-max(sm) {
  @for $i from 0 through 12 {
    .col-m-#{$i} {
      width: percentage(math.div($i, 12));
    }
    .push-m-#{$i} {
      margin-left: percentage(math.div($i, 12));
    }
    .pull-m-#{$i} {
      margin-right: percentage(math.div($i, 12));
    }
  }
}
