@use "../abstracts" as *;

.footer {
  margin-top: rem(48);
  background-color: $color-background-alt;

  @include respond-to-max(sm) {
    margin-top: rem(60);
  }
}

.footer__inner {
  padding: rem(80) 0;

  .row .col {
    flex-grow: 1;
  }

  @include respond-to-max(sm) {
    padding: rem(60) 0;
  }
}

.footer__author {
  @include respond-to-max(lg) {
    margin-bottom: rem(60);
  }

  @include respond-to-max(sm) {
    margin-bottom: rem(40);
  }
}

.footer__author-avatar {
  position: relative;
  width: 105px;
  height: 105px;
  margin-bottom: rem(20);
  transform: translate(0);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 7%), 0 12.5216px 10.0172px rgba(0, 0, 0, 3.5%);
  background-color: $color-background;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
}

.footer__author-name {
  margin-bottom: rem(20);
  font-size: rem(32);
  font-weight: $font-weight-black;
  line-height: 1;
}

.footer__author-bio {
  margin-bottom: 0;
  color: $color-text-secondary;
}

.footer__social {
  margin-top: $spacing-md;
}

.footer__social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-item {
  margin-bottom: 0;
  margin-right: $spacing-md;

  &:first-child .footer__social-link {
    padding-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__social-link {
  display: flex;
  align-items: center;
  padding: 4px;
  font-size: rem(20);
  color: $color-text-primary;
  transition: color $transition-base;

  &:hover {
    color: $color-brand;
  }
}

.footer__navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: $spacing-sm;
  }

  a {
    color: $color-text-secondary;
    text-decoration: none;
    transition: color $transition-base;

    &:hover {
      color: $color-brand;
    }
  }
}

.footer__info {
  padding: rem(44) 0;
  background-color: $color-background;

  @include respond-to-max(lg) {
    padding: rem(40) 0;
  }
}

.footer__info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  margin-right: rem(20);
  font-size: rem(14);
  font-weight: $font-weight-medium;
  color: $color-text-secondary;

  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: $color-text-primary;

    &:hover {
      text-decoration-color: $color-text-primary;
      color: $color-text-primary;
    }
  }
}

.footer__top {
  min-width: 36px;
  height: 36px;
  font-size: rem(20);
  line-height: 36px;
  text-align: center;
  border-radius: $border-radius-lg;
  color: $color-text-primary;
  background-color: $color-background-alt;
  cursor: pointer;
  transition: all $transition-base;
}
