@use "../abstracts" as *;

.contact {
  max-width: 600px;
  margin: 0 auto;
}

.contact__header {
  margin-bottom: $spacing-xxl;
  text-align: center;
}

.contact__title {
  margin-bottom: $spacing-md;
}

.contact__description {
  color: $color-text-secondary;
}
