@use "../abstracts" as *;

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  text-align: center;
}

.error-page__code {
  margin-bottom: $spacing-lg;
  font-size: rem(80);
  font-weight: $font-weight-black;
  line-height: 1;
  color: $color-brand;

  @include respond-to(md) {
    font-size: rem(120);
  }
}

.error-page__title {
  margin-bottom: $spacing-md;
}

.error-page__description {
  max-width: 400px;
  margin-bottom: $spacing-xl;
  color: $color-text-secondary;
}
