@use "../abstracts" as *;

.page-head {
  margin-bottom: rem(48);

  @include respond-to-max(lg) {
    margin-bottom: rem(40);
  }

  @include respond-to-max(sm) {
    margin-bottom: rem(32);
  }

  .row {
    align-items: center;
  }
}

.page-image {
  position: relative;
  transform: translate(0);
  padding-top: 56.25%;
  margin-bottom: rem(48);
  min-height: 280px;
  border-radius: $border-radius-lg;
  overflow: hidden;
  background: $color-background-alt;

  @include respond-to-max(lg) {
    margin-bottom: rem(40);
  }

  @include respond-to-max(sm) {
    margin-bottom: rem(32);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
  }
}

.page__info {
  max-width: 760px;
  margin: 0 auto;
}

.page__title {
  margin-bottom: rem(24);
  font-size: rem(46);
  line-height: 1.2;
  font-weight: $font-weight-black;

  @include respond-to-max(sm) {
    margin-bottom: rem(20);
    font-size: rem(32);
  }
}

.page {
  max-width: 760px;
  margin: 0 auto rem(60);
  color: $color-text-primary;

  a {
    font-weight: $font-weight-medium;
    border-bottom: 1px solid $color-border;

    &:hover {
      color: $color-text-primary;
      border-bottom-color: $color-text-primary;
    }
  }

  img {
    border-radius: $border-radius-lg;
    overflow: hidden;
  }
}

.page__content {
  h2 {
    margin-top: $spacing-xxl;
    margin-bottom: $spacing-lg;
  }

  h3 {
    margin-top: $spacing-xl;
    margin-bottom: $spacing-md;
  }

  p {
    margin-bottom: $spacing-lg;
  }

  ul,
  ol {
    margin-left: $spacing-md;
    margin-bottom: $spacing-lg;
  }

  li {
    margin-bottom: $spacing-sm;
  }
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: $spacing-lg;
  border-radius: $border-radius-lg;
  overflow: hidden;
  background: $color-background-alt;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
