{{ define "main" }}
  <header class="page-head">
    <div class="container">
      <div class="row">
        {{ with .Resources.GetMatch "images/header.*" }}
        <div class="col col-12">
          <div class="page-image">
            {{ $image := . }}
            {{ with $image.Resize "1200x webp q85" }}
            <img
              src="{{ .RelPermalink }}"
              alt="{{ $.Title }}"
              width="{{ .Width }}"
              height="{{ .Height }}"
              loading="eager"
            />
            {{ end }}
          </div>
        </div>
        {{ end }}

        {{ with .Params.headerUnsplashId }}
        <div class="col col-12">
          <div class="page-image">
            {{ partial "unsplash.html" (dict
              "ctx" $
              "id" .
              "size" "raw"
              "alt" $.Title
              "crop" $.Params.headerUnsplashCrop
            ) }}
          </div>
        </div>
        {{ end }}

        <div class="col col-12">
          <div class="page__info">
            <h1 class="page__title">{{ .Title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <article class="page">
      <div class="page__content">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}

{{ define "scripts" }}
  {{- if eq .Params.type "Article" -}}
    {{- $schema := partial "schema/_page.html" (dict "page" . "type" "Article") -}}
    <script type="application/ld+json">{{ $schema | jsonify (dict "indent" "  ") | safeJS }}</script>
  {{- else -}}
    {{- $schema := partial "schema/_page.html" (dict "page" . "type" "WebPage") -}}
    <script type="application/ld+json">{{ $schema | jsonify (dict "indent" "  ") | safeJS }}</script>
  {{- end -}}
{{ end }}
